{{#if logInMode}}
    <section id="loginForm">
        <h3>Log In</h3>
        <form action="/logIn" method="POST">
            <lable for="email">Email</lable><br>
            <input type="text" id="email" name="email" {{#if emailErr}}class="errBox"{{/if}}><br>
            {{#if emailErr}}<lable for="email" class="errMess"><i class="fas fa-exclamation-circle"></i>{{emailErr}}</lable>{{/if}}
            <br>
            <lable for="password">Password</lable><br>
            <input type="password" id="password" name="password" {{#if passErr}} class="errBox" {{/if}}><br>
            {{#if passErr}}<lable for="password" class="errMess"><i class="fas fa-exclamation-circle"></i>{{passErr}}</lable>{{/if}}
            <br>
            <input type="submit" value="Log In">
        </form>
        <p>New around here? <span><a href="/createAcc">Create Account</a></span></p>
    </section>
{{else}}
    <section id="createForm">
        <h3>Create Account</h3>
        <form action="/createAcc" method="POST">
            <lable for="name">Your name</lable><br>
            <input type="text" id="name" name="name" value="{{nameVal}}" {{#if nameErr}}class="errBox"{{/if}}><br>
            {{#if nameErr}}<lable for="name" class="errMess"><i class="fas fa-exclamation-circle"></i>Enter your Name</lable>{{/if}}
            <br>
            <lable for="email">Email</lable><br>
            <input type="text" id="email" name="email" value="{{emailVal}}" {{#if emailErr}}class="errBox"{{/if}}><br>
            {{#if emailErr}}<lable for="email" class="errMess"><i class="fas fa-exclamation-circle"></i>{{emailErr}}</lable>{{/if}}
            {{#if dubEmailErr}}<lable for="email" class="errMess"><i class="fas fa-exclamation-circle"></i>{{dubEmailErr}}</lable>{{/if}}
            <br>
            <lable for="password">Password</lable><br>
            <input type="password" id="password" name="password" value="{{passVal}}" {{#if passErr}}class="errBox"{{/if}}><br>
            {{#if passErr}}<lable for="email" class="errMess"><i class="fas fa-exclamation-circle"></i>{{passErr}}</lable>{{/if}}
            <br>
            <lable for="passwordConf">Password again</lable><br>
            <input type="password" id="passwordConf" name="passwordConf" value="{{rePassVal}}" {{#if rePassErr}}class="errBox"{{/if}}><br>
            {{#if rePassErr}}<lable for="email" class="errMess"><i class="fas fa-exclamation-circle"></i>{{rePassErr}}</lable>{{/if}}
            <br>
            <input type="submit" value="Create Account">
        </form>
        <p>Already have an Account? <span><a href="/login">Log In</a></span></p>
    </section>
{{/if}}