<section id="productsPage">
    <section id="prodCats">
        <ul>
            <li><a href="/products/all">All</a></li>
            {{#each categories}}
                <li><a href="/products/{{this.id}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </section>
    <section id="productList">
        {{#each products}}
            <a href="/prod/{{this.id}}">
                <div>
                    <img src={{this.img}} alt="Product Image">
                    <div>
                        <p>{{this.name}}</p>
                        <p>CDN$ {{this.price}}</p>
                    </div>
                </div>
            </a>
        {{/each}}
    </section>
</section>    